USE [itduniya]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[BlogID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[PostDate] [datetime] NULL DEFAULT (getdate()),
	[Theme] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[BlogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[IconClass] [nvarchar](50) NULL,
	[ShortDesc] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[MsgID] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](100) NULL,
	[SenderEmail] [nvarchar](100) NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[SentDate] [datetime] NULL DEFAULT (getdate()),
	[AdminReply] [nvarchar](max) NULL,
	[IsReplied] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MsgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ErrorSolutions]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorSolutions](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorTitle] [nvarchar](max) NULL,
	[Technology] [nvarchar](50) NULL,
	[Cause] [nvarchar](max) NULL,
	[Solution] [nvarchar](max) NULL,
	[PostedDate] [datetime] NULL DEFAULT (getdate()),
	[Severity] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL DEFAULT ('Open'),
PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notes]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[NoteID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Category] [nvarchar](100) NULL,
	[FilePath] [nvarchar](max) NULL,
	[UploadDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Projects]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Level] [nvarchar](50) NULL,
	[TechStack] [nvarchar](100) NULL,
	[Thumbnail] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Mobile] [nvarchar](15) NULL,
	[CurrentOTP] [nvarchar](6) NULL,
	[OTPExpiry] [datetime] NULL,
	[RegDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tutorials]    Script Date: 02-Jan-26 1:35:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutorials](
	[TutorialID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Category] [nvarchar](100) NULL,
	[TheoryContent] [nvarchar](max) NULL,
	[CodeSnippet] [nvarchar](max) NULL,
	[DiagramUrl] [nvarchar](255) NULL,
	[PostDate] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[TutorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminID], [Username], [Password]) VALUES (1, N'admin', N'itduniya@2025')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([BlogID], [Title], [Content], [PostDate], [Theme]) VALUES (2, N'MERN Stack vs ASP.NET Core: Kaunsa behtar hai 2026 mein?', N'Aaj ke time mein web development ke liye do popular options hain. Agar aap JavaScript pasand karte hain toh MERN (MongoDB, Express, React, Node) best hai. Lekin agar aap enterprise-level security aur fast development chahte hain, toh ASP.NET Core ek powerful choice hai. Is article mein hum dono ke pros aur cons discuss karenge...', CAST(N'2025-12-31 15:07:43.890' AS DateTime), N'Full Stack Development')
INSERT [dbo].[Blogs] ([BlogID], [Title], [Content], [PostDate], [Theme]) VALUES (3, N'My Daily Vlogging Setup: Gear and Workflow', N'Bahut se log mujhse puchte hain ki main apne vlogs kaise shoot aur edit karta hoon. Main apne vlogs ke liye ek mirrorless camera aur ek shotgun mic use karta hoon. Editing ke liye Premiere Pro mera favorite tool hai. Vlogging sirf recording nahi, balki ek story batana hai...', CAST(N'2025-12-31 15:14:43.497' AS DateTime), N'Vlogging & Community')
SET IDENTITY_INSERT [dbo].[Blogs] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IconClass], [ShortDesc]) VALUES (2, N'Web Developement', N'fa-laptop-code', N'edrfgh')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IconClass], [ShortDesc]) VALUES (3, N'C++ Programming', N'fa-file-code', N'Basic to Advance C++ with OOPS.')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IconClass], [ShortDesc]) VALUES (4, N'ASP.NET Core', N'fa-network-wired', N'Build enterprise apps with .NET.')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[ContactMessages] ON 

INSERT [dbo].[ContactMessages] ([MsgID], [SenderName], [SenderEmail], [Subject], [Message], [SentDate], [AdminReply], [IsReplied]) VALUES (3, N'Siddhi Tailor', N'siddhitailor8@gmail.com', N'ASP.NET c#', N'"Passwords ko database mein plain text ki jagah Hash (Bcrypt/SHA256) karke kaise save karein?"', CAST(N'2026-01-01 15:54:47.170' AS DateTime), NULL, 0)
INSERT [dbo].[ContactMessages] ([MsgID], [SenderName], [SenderEmail], [Subject], [Message], [SentDate], [AdminReply], [IsReplied]) VALUES (4, N'shahista', N'shahistaneel9@gmail.com', N'c++', N'c++ complete notes', CAST(N'2026-01-01 16:03:37.693' AS DateTime), NULL, 0)
INSERT [dbo].[ContactMessages] ([MsgID], [SenderName], [SenderEmail], [Subject], [Message], [SentDate], [AdminReply], [IsReplied]) VALUES (5, N'Siddhi Tailor', N'siddhitailor8@gmail.com', N'dfxgf', N'fffgh', CAST(N'2026-01-01 17:11:55.913' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[ContactMessages] OFF
SET IDENTITY_INSERT [dbo].[ErrorSolutions] ON 

SET IDENTITY_INSERT [dbo].[ErrorSolutions] OFF
SET IDENTITY_INSERT [dbo].[Notes] ON 

INSERT [dbo].[Notes] ([NoteID], [Title], [Category], [FilePath], [UploadDate]) VALUES (1, N'Computer Network Notes', N'Subject-wise Notes', N'/admin/docs/Cn.pdf', CAST(N'2025-12-26 14:14:58.253' AS DateTime))
INSERT [dbo].[Notes] ([NoteID], [Title], [Category], [FilePath], [UploadDate]) VALUES (2, N'Computer Network Notes', N'Subject-wise Notes', N'Cn_20251226141907.pdf', CAST(N'2025-12-26 14:19:07.873' AS DateTime))
INSERT [dbo].[Notes] ([NoteID], [Title], [Category], [FilePath], [UploadDate]) VALUES (3, N'Computer Network Notes', N'Subject-wise Notes', N'Cn_20251226141925.pdf', CAST(N'2025-12-26 14:19:25.197' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notes] OFF
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectID], [Title], [Level], [TechStack], [Thumbnail], [Description]) VALUES (1, N'E-commerce Website', N'Intermediate', N'ASP.NET , SQL ', N'assets/img/projects/default.png', NULL)
SET IDENTITY_INSERT [dbo].[Projects] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentID], [FullName], [Email], [Mobile], [CurrentOTP], [OTPExpiry], [RegDate]) VALUES (1, N'Siddhi Tailor', N'siddhitailor8@gmail.com', N'7878222694', N'386400', CAST(N'2025-12-31 17:07:15.423' AS DateTime), CAST(N'2025-12-29 15:06:36.093' AS DateTime))
INSERT [dbo].[Students] ([StudentID], [FullName], [Email], [Mobile], [CurrentOTP], [OTPExpiry], [RegDate]) VALUES (2, N'Nikhil Rupani', N'nikhilrupani17@gmail.com', N'9887731723', N'853232', CAST(N'2026-01-01 15:05:00.637' AS DateTime), CAST(N'2026-01-01 14:55:00.680' AS DateTime))
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Tutorials] ON 

INSERT [dbo].[Tutorials] ([TutorialID], [Title], [Category], [TheoryContent], [CodeSnippet], [DiagramUrl], [PostDate]) VALUES (3, N'Database Normalization: 1NF, 2NF aur 3NF kya hai?', N'Database Management', N'<blockquote>
<p><strong>Normalization</strong> ek aisi technique hai jiska use Database mein se <strong>Data Redundancy</strong> (duplicate data) aur <strong>Inconsistency</strong> ko hatane ke liye kiya jata hai. Isse hamara database efficient banta hai.</p>
</blockquote>

<blockquote>
<ol>
	<li>
	<p><strong>1NF (First Normal Form):</strong> Har column mein atomic (single) value honi chahiye. Ek cell mein multiple values nahi aa sakti.</p>
	</li>
	<li>
	<p><strong>2NF (Second Normal Form):</strong> Table 1NF mein hona chahiye aur saare non-key attributes &quot;Primary Key&quot; par fully dependent hone chahiye.</p>
	</li>
	<li>
	<p><strong>3NF (Third Normal Form):</strong> Table 2NF mein hona chahiye aur koi bhi &quot;Transitive Dependency&quot; nahi honi chahiye (matlab ek non-prime attribute dusre non-prime attribute par depend na kare).</p>
	</li>
</ol>
</blockquote>
', N'-- Problem: Student table mein ''Phone'' column mein do numbers hain (Not in 1NF)
-- Solution: Dono numbers ke liye alag rows banayein

-- 1NF Compliant Table Structure
CREATE TABLE Student_Phones (
    StudentID INT,
    StudentName VARCHAR(50),
    PhoneNumber VARCHAR(15),
    PRIMARY KEY (StudentID, PhoneNumber) -- Composite Key
);', N'admin/img/tutorials/Database_Normalization.png', CAST(N'2026-01-02 11:19:50.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tutorials] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Admins__536C85E42CB28DD5]    Script Date: 02-Jan-26 1:35:08 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Students__A9D1053486FB0887]    Script Date: 02-Jan-26 1:35:08 PM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
